.divide0 {
    width: 100%;
    height: 0px;
}

.divide2 {
    width: 100%;
    height: 2px;
}

.divide3 {
    width: 100%;
    height: 3px;
}

.divide5 {
    width: 100%;
    height: 5px;
}

.divide10 {
    width: 100%;
    height: 10px;
}

.divide15 {
    width: 100%;
    height: 15px;
}

.divide20 {
    width: 100%;
    height: 20px;
}

.divide25 {
    width: 100%;
    height: 25px;
}

.divide30 {
    width: 100%;
    height: 30px;
}
